/*common css part*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

::selection{
    background-color: #e98b5f;
    color: black;
}

html{
    scroll-behavior: smooth;
}

.navbar-toggler i{
    color: #fff;
}

.navbar-toggler:focus {
    box-shadow: none;
}
/*navbar part*/


.page-up{
    position: fixed;
    right: 100px;
    top: 500px;
    z-index: 999;
    animation: page-up 4s;
    background: linear-gradient(to right, #02aab0, #00cdac);
    border-radius: 50%;
}

.page-up i{
    color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    font-size: 21px;
    transition: all linear .3s;
}

.page-down{
    position: fixed;
    right: 100px;
    top: 570px;
    z-index: 999;
    animation: page-down 2s;
    background: linear-gradient(to right, #02aab0, #00cdac);
    border-radius: 50%;
}

.page-down i{
    color: white;
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
    align-items: center;
    font-size: 21px;
    transition: all linear .3s;
}


@keyframes page-up{
    0%{
        top: -100px;
        opacity: 50%;
    }

    50%{
        top: 500px;
        opacity: 90%;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
    }

    55%{
        top: 440px;
        opacity: 50%;
    }

    60%{
        top: 500px;
        opacity: 100%;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
    }

    65%{
        top: 440px;
        opacity: 50%;
    }

    70%{
        top: 500px;
        opacity: 100%;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
    }

    75%{
        top: 440px;
        opacity: 50%;
    }

    80%{
        top: 500px;
        opacity: 100%;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
    }

    85%{
        top: 440px;
        opacity: 10%;
    }

    100%{
        top: 500px;
        opacity: 100%;
    }
}


@keyframes page-down{
    0%{
        top: 100%;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
    }

    80%{
        top: 570px;
        opacity: 100%;
    }

    90%{
        top: 630px;
        background: linear-gradient(to right, #ff416c, #ff4b2b);
        opacity: 60%;
    }


    100%{
        top: 570px;
    }
}

.navbar {
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: all linear .3s;
    background: #202020;
}

.navbar-brand img {
    width: 80px !important;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 28px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    transition: all linear .3s;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 3px;
    background-color: #03b9ad;
    transition: all linear .3s;
}

.navbar-expand-lg .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link {
    color: #03b9ad;
    font-weight: 400;
}

.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link::after {
    width: 100%;
}

.nav-item i{
    margin-right: 6px;
    color: #03b9ad;
}

.sticky-menu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
    background-image: linear-gradient(to right, rgba(67, 206, 162, 0.7), rgba(24, 91, 157, 0.8));
    box-shadow: 1px 32px 23px -36px rgba(0,0,0,0.65);
    animation: sticky 1.5s;
}


@keyframes sticky{
    from{
        top: -150px;
    }
    to{
        top: 0px;
    }
}



/*banner css part*/

#banner {
    position: relative;
}

.ban-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(67, 206, 162, 0.7), rgba(24, 91, 157, 0.8));
}

.ban-content {
    padding-bottom: 50px;
    padding-top: 50px;
}

.ban-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 75px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 31px;
}

.ban-text span {
color: #fffbbe;
}

.ban-text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
    color: #fffbbe;
    margin-bottom: 32px;
}

.ban-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: justify;
    line-height: 0.8;
    line-height: 27px !important;
    color: #ffffff;
    padding: 0px 175px;
    position: relative;
}

.ban-text p::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -40px;
    height: 3px;
    width: 60px;
    background-color: #fff;
    transform: translateX(-50%);
}

.ban-text button {
    padding: 0;
    padding: 5px 30px;
    text-transform: uppercase;
    color: #fff;
    background-color: transparent;
    border: none;
    border: 3px solid #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin-top: 80px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.ban-text button:hover{
    background-color: #fff;
    color: #000000;
}

/*about css part*/

#services {
    padding-top: 75px;
    padding-bottom: 100px;
}

.common-header h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1b1b1b;
    margin-bottom: 31px;
    text-transform: uppercase;
    width: 200px;
    margin-left: 42%;
    padding: 18px 0px;
    border-radius: 5px;
    background-color: #ffdc98;
}

.common-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #3f3f3f;
    text-transform: capitalize;
    margin-bottom: 75px;
    position: relative;
}

.common-header h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -40px;
    height: 3px;
    width: 60px;
    background-color: #f38181;
    transform: translateX(-50%);
}

.service-text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 0.8;
    line-height: 27px;
    color: #4b4b4b;
    padding: 0 70px;
    text-align: justify;
}

.registration-info{
    margin-top: 30px;
}


.registration-info  h4 {
    font-size: 17px;
    color: #656565;
    margin-bottom: 13px;
}


.registration-info span{
    color: #e7be2b;
}


.service-slider {
    margin-top: 75px;
}

.service-slider-items {
    position: relative;
    margin: 0 30px;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #feab5ed5, #c779d0d8, #4bc0c8d2);
    opacity: 0;
    transition: all linear .3s;
}

.overlay:hover {
    opacity: 1;
}

.overlay img {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    cursor: pointer;
}

.overlay h3 {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -52%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    text-transform: uppercase;
}







/* Contact Part Start */

#contact{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #121212;
}

.common-heading{
    position: relative;
    padding-bottom: 80px;
}

.common-heading h2{
    position: absolute;
    font-size: 110px;
    letter-spacing: 10px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff12;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
}

.common-heading h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    font-weight: 800!important;
    color: #dc3d68;
    text-transform: uppercase;
    margin: 0;
    padding-top: 34px;
}

.common-heading span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #dc3d68;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}


.contact-texts{

}

.contact-texts h3{
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.contact-texts h5{
    color: #e9e9e9;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.contact-texts span{
    color: #dfcf88;
}

.contact-social{
    display: inline-flex;
    margin-bottom: 10px;
}

.contact-social-icon{
    padding-right: 20px;
    position: relative;
}

.contact-social-icon i {
    font-size: 20px;
    color: #dfcf88;
    height: 57px;
    width: 57px;
    line-height: 57px;
    text-align: center;
    border: 2px solid #dfcf88;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border-radius: 50%;
}

.contact-social:hover .contact-social-icon i{
    background-color: #dfcf88;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}


.contcact-stack-info{
    margin-top: 25px;
}

.contcact-stack-info span{
 color: #dfcf88;
}

.contcact-stack-info p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    margin-bottom: 14px;
    color: #fff;
}



.contact-social-texts{
    padding-left: 15px;
}

.contact-social-texts h4 {
    color: #d7d7d7;
    font-size: 23px;
    font-weight: 400;
    text-transform: uppercase;
}

.contact-social-texts p{
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 300;
}

.contact-bottom-icons{
    padding-top: 20px;
}

.contact-bottom-icons i{
    font-size: 20px;
    color: #dfcf88;
    border: 2px solid #dfcf88;
    border-radius: 50%;
    height: 57px;
    width: 57px;
    line-height: 57px;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    margin-right: 20px;
}

.contact-bottom-icons i:hover{
    background-color: #dfcf88;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

.message{
    margin-top: 15px;
}


.message a {
    color: #272727;
    font-size: 17px;
    padding: 16px 36px;
    background: #dfcf88;
    text-transform: uppercase;
    border-radius: 29px;
    margin-top: 0px;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.message a:hover{
    color: white;
    background-color: transparent;
    border: 1px solid #dfcf88;
}

.message i{
    margin-left: 5px;
    margin-bottom: 35px;
}



.zedmars-feedback h3{
    font-size: 26px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.zedmars-feedback h5{
    color: #e9e9e9;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.zedmars-feedback span{
    color: #dfcf88;
}

.zedmars-feedback i{
    margin-left: 5px;
}




.name-section{
    padding-bottom: 30px;
}

.name-section input{
    width: 100%;
    height: 48px;
    background: #252525;
    border-radius: 27px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border: none;
    position: relative;
    color: #fff;
}

.name-section input::placeholder{
    color: rgb(148, 148, 148);
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.subject-section input{
    width: 100%;
    height: 48px;
    background: #252525;
    border-radius: 27px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border: none;
    color: #fff;
    position: relative;
}

.subject-section input::placeholder{
    color: rgb(148, 148, 148);
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.subject-section{
    padding-bottom: 30px;
}


.cell-section{
    padding-bottom: 30px;
}

.cell-section input{
    width: 100%;
    height: 48px;
    background: #252525;
    border-radius: 27px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border: none;
    color: #fff;
    position: relative;
}

.cell-section input::placeholder{
    color: rgb(148, 148, 148);
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


.text-section{
    padding-bottom: 30px;
}

.text-section input{
    width: 100%;
    height: 210px;
    background: #252525;
    border-radius: 27px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    border: none;
    position: relative;
    color: #fff;
}

.text-section input::placeholder{
    color: rgb(148, 148, 148);
    font-size: 15px;
    font-weight: 400;
    position: absolute;
    left: 30px;
    top: 20px;
}

.feel-free{
    margin-top: 25px;
}

.feel-free h3{
    color: #dfcf88;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

/* Contact Part End */





/*footer css part*/
#footer {
    background-color: #202020;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-content p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    padding-top: 25px;
}

.shuchoyon {
    color: #dfcf88;
}

/*hamburger css part*/



.hamMenu {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 26px;
    transition: .3s;
    padding: 20px;
    z-index: 3;
}

.line-1-active{
    transform: rotate(45deg);
}

.line-2-active{
    transform: rotate(-45deg);
    position: absolute;
    top: 17px;
}


.line{
    height: 0;
    width: 25px;
    border: 3px solid rgb(216, 216, 216);
    margin: 5px 0;
    border-radius: 10px;
    transition: .3s;
}



/*
font-family: 'Kaushan Script', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;

    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    text-transform: capitalize;
    color: #fff;
*/